.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.allcards {
  margin-bottom: 150px;
}

.SMCards {
  width: 95%;
  justify-self: center;
  display: flex;
  justify-content: space-between;
}

.chooseUs {
  margin: 30px 0 0 0;
  width: 95%;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.cd4 {
  width: 25%;
}

.cd4Image {
  width: 40%;
}

.cd4Image img {
  width: 100%;
  animation: img1 1.5s ease-in-out infinite;
}

@keyframes img1 {
  0% {
    transform: translatey(0px);
    margin-left: -1px;
  }

  50% {
    transform: translatey(3px);
    margin-left: 0;
  }

  100% {
    transform: translatey(0px);
    margin-left: 1px;
  }
}

.collabrorator {
  width: 95%;
  overflow: auto;
  justify-self: center;
}

.trust {
  margin: 20px 0;
  width: 95%;
  overflow: auto;
}

.trustMain {
  color: #fff;
  width: 200%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media screen and (max-width:1024px) {
  .chooseUs {
    flex-direction: column;
  }

  .rightAlign,
  .leftAlign {
    width: 95%;
  }

  .cd4Image {
    width: 60%;
  }

  .cd4Image img {
    width: 100%;
  }

  .trustMain {
    width: 250%;
  }
}

@media screen and (max-width: 768px) {

  .allcards {
    margin-bottom: 50px;
  }

  .SMCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .chooseUs {
    margin: 30px 0 0 0;
    width: 95%;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .leftAlign {
    text-align: left;
  }

  .rightAlign {
    text-align: left;
  }

  .cd4Image {
    width: 40%;
    display: none;
  }

  .trustMain {
    width: 310%;
  }
}